header {
  width: 100%;
  padding: 20px;
  background-color: darkblue;
  color: white;
}

tbody > tr {
  cursor: pointer;
}

tbody > tr.active {
  background-color: lightblue;
}

thead > tr {
  background-color: #eee;
}

.filter-container {
  height: 60px;
  width: 100%;
  background-color: lightblue;
  padding: 15px;
}
